.jbp-masonry-grid {
  margin: 6em 0;

  .jbp-masonry-grid__title {
    margin-bottom: 2em;
  }

  .jbp-masonry-grid__grid {
    column-count: 3;
    width: 100%;

    @include screen-sm {
      column-count: 2;
    }

    @include screen-xs {
      column-count: 1;
    }

    .jbp-masonry-grid__image {
      display: block;
      margin-bottom: 0.75em;
    }

    img {
      width: 100%;
    }
  }

  .jbp-masonry-grid__more {
    text-align: center;
    margin-top: 2em;
  }
}
