.jbp-team-grid {
  margin: 8em 0 6em;
  overflow: hidden;

  .jbp-team-grid__box {
    overflow: hidden;
  }

  .jbp-team-grid__content {
    position: relative;
    padding: 2em;
    text-align: center;
    z-index: 0;

    .jbp-team-grid__content-inner {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .jbp-team-grid__team {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
  }

  .jbp-team-grid__member {
    position: relative;
    flex: 0 0 auto;
    width: calc( 100% / 3 );
    padding: 0 2em;
    margin: 0 auto 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    z-index: 0;

    @include screen-md {
      width: calc( 100% / 2 );
    }

    @include screen-sm {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    .jbp-team-grid__member-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      &::after {
        content: '';
        display: block;
        padding-top: 150%;
      }
    }

    .jbp-team-grid__member-content {
      padding: 1em 2em;
      width: 100%;
      text-align: center;
      transition: 0.25s ease-in-out;

      @include screen-sm {

        padding: 1em 1em 3em;
      }

      .display-heading {
        line-height: 1;

        @include screen-lg {
          font-size: 3em;
        }

        @include screen-md {
          font-size: 4em;
        }

        @include screen-xs {
          font-size: 2.5em;
        }
      }
    }
  }
}
