.form-skin {

  label {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    border: 1px solid $light-gray;
    padding: 1em;
    background-color: white;
    border-radius: 0;

    &::placeholder {
      color: $gray;
    }
  }

  select {
    appearance: none;
    background-image: url('../images/svg/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 99% center;
  }

    //hide default select arrow in IE
  select::-ms-expand {
    display: none;
  }

  input[type="button"] {
    @extend .btn;
    border-radius: 0;
    cursor: hand;
    cursor: pointer;
  }

  .nf-field-description,
  .nf-form-fields-required {
    padding-bottom: 1em;
    color: $gray;
    font-weight: 300;
  }

}
