.form-skin {

  label {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    border: 1px solid $light-gray;
    padding: 1em;
    background-color: white;
    border-radius: 0;

    &::placeholder {
      color: $gray;
    }
  }

  select {
    appearance: none;
    background-image: url('../images/svg/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 99% center;
  }

    //hide default select arrow in IE
  select::-ms-expand {
    display: none;
  }

  input[type="button"] {
    @extend .btn;
    border-radius: 0;
    cursor: hand;
    cursor: pointer;
  }

  .nf-field-description,
  .nf-form-fields-required {
    padding-bottom: 1em;
    color: $gray;
    font-weight: 300;
  }

}

.search-form {
  margin-bottom: 2em;

  @include screen-sm {
    max-width: 350px;
    margin: 0 auto 2em;
  }

  label {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 106px);
  }

  input[type="search"] {
    border: 1px solid $light-gray;
    padding: 1em;
    background-color: white;
    border-radius: 0;
    vertical-align: bottom;
    width: 100%;

    &::placeholder {
      color: $gray;
    }
  }

  input[type="submit"] {
    @extend .btn;
    border-radius: 0;
    cursor: hand;
    cursor: pointer;
    font-size: 0.7em;
    padding: 1em;
    border: 1px solid $light-gray;
    width: 100px;
  }
}
