body {
  @extend %sans-serif;
  color: $dark-gray;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;

  *, *::before, *::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.error-page {
  padding: 11em 0;
  text-align: center;

  .search-form {
    margin: 2em auto 0;
    max-width: 400px;
  }
}
