@font-face {
	font-family: 'Lora';
	src: url('../../assets/fonts/Lora-Regular.eot');
	src: url('../../assets/fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Lora-Regular.woff') format('woff'),
		url('../../assets/fonts/Lora-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Lora-Regular.svg#Lora-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Regular.eot');
	src: url('../../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Lato-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Lato-Regular.woff') format('woff'),
		url('../../assets/fonts/Lato-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Light.eot');
	src: url('../../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Lato-Light.woff2') format('woff2'),
		url('../../assets/fonts/Lato-Light.woff') format('woff'),
		url('../../assets/fonts/Lato-Light.ttf') format('truetype'),
		url('../../assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Halfback';
	src: url('../../assets/fonts/Halfback-Regular.eot');
	src: url('../../assets/fonts/Halfback-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Halfback-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Halfback-Regular.woff') format('woff'),
		url('../../assets/fonts/Halfback-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Halfback-Regular.svg#Halfback-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


%sans-serif {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
}

%serif {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-style: normal;
}

%heading-font {
  font-family: 'Halfback', cursive;
  font-weight: normal;
  font-style: normal;
}
$brand-primary: #F5C5B5;
$brand-secondary: #F5DED1;
$gray: #919191;
$dark-gray: #333333;
$black: #000000;
$white: #FFFFFF;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin: 0.5em 0;
	font-weight: bold;
	@extend %serif;
}

.title-heading {
	@extend %sans-serif;
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.display-heading {
	@extend %heading-font;
	margin: 0.25em 0;
	font-size: 4em;
	text-transform: lowercase;

	@include screen-sm {
		font-size: 3em;
	}

	@include screen-xs {
		font-size: 2.5em;
	}
}
